parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/ClassDiscoverer.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:mapSpread\\(\\) expects callable\\(mixed\\)\\: array\\{Spatie\\\\LaravelAutoDiscoverer\\\\DiscoverProfile, Illuminate\\\\Support\\\\Collection\\}, Closure\\(Spatie\\\\LaravelAutoDiscoverer\\\\DiscoverProfile, Illuminate\\\\Support\\\\Collection\\)\\: array\\{Spatie\\\\LaravelAutoDiscoverer\\\\DiscoverProfile, Illuminate\\\\Support\\\\Collection\\} given\\.$#"
			count: 1
			path: src/Discover.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:mapSpread\\(\\) expects callable\\(mixed\\)\\: string, Closure\\(Spatie\\\\LaravelAutoDiscoverer\\\\DiscoverProfile, Illuminate\\\\Support\\\\Collection\\)\\: string given\\.$#"
			count: 1
			path: src/Discover.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_starts_with expects string, string\\|false given\\.$#"
			count: 1
			path: src/Discover.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Discover.php
